h1 {
    background-color: #225bb7;
    color: white;
    font-family: sans-serif;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: inherit;
    font-size: 50px;
}

body {
    background-color: white;
    border-style: inherit;
}

footer {
    background-color: #225bb7;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding-bottom: 125px;
}

h2 {
    text-align: center;
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 30px;
}

.main-content {
    display: inline-block;
    width: 40%;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 300px;
    position: relative;
}

.another-article {
    display: inline-block;
    width: 200px;
    padding-left: 100px;
    padding-bottom: 10px;
    margin-top: 80px;
    margin-right: 140px;
    float: right;
    font-family: sans-serif;
}

.skinny-box {
    height: 20px;
    width: 100%;
    background-color: #aec4e8;
    margin-top: 25px;
}
p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-family: sans-serif;
}

h4 {
    font-size: 20px;
    text-align: left;
}